body {
  background: linear-gradient(135deg, #f5f7fa8f 0%, #8dc4d890 100%) bottom
    center no-repeat;
  /* background-image: url("/images/BackgroundMoonOnAlpha.png") repeat; */

  font-family: "Nunito Sans", "Segoe UI", sans-serif;
}

a {
  color: #8dc4d8;
}

.weather-app {
  background: linear-gradient(135deg, #8dc4d8 0%, #f5f7fa 100%) bottom center
    no-repeat;
  max-width: 600px;
  margin: 25px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.8);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid rgb(194, 192, 192);
  padding: 0 0 5px 0;
}

.main {
  padding: 10px;
  margin: auto;
  border-radius: 5px;
}

.search-form {
  border: none;
  border-radius: 6px;
  padding: 16px;
  margin-left: 5px;
  font-size: 16px;
}

.search-form.input {
  background-color: #edf0f1e8;
  width: 75%;
}

input::placeholder {
  color: #1b1b1c;
}

.search-form.button {
  background-color: #8dc4d8;
  width: 20%;
  color: white;
}

button {
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 1px;
  border: #f5f7fa;
  box-shadow: 2px 2px 10px;
}

.button-text {
  padding: 15px;
  font-size: 22px;
}

img {
  padding: 3px;
  margin: auto;
  border-radius: 35px;
  border: 7px solid #8dc4d8;
}

.weather-icon img:hover {
  transform: scale(1.5);
  margin: 25px auto;
}

.moon-on-alpha {
  width: 50px;
  padding: 2px;
  display: inline;
  margin: auto;
  opacity: 0.9;
  border-radius: 50px;
  border: 2px solid #8dc4d8;
}

.moon-on-alpha:hover {
  transform: scale(1.9);
}

.city-and-date-info {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.current-city {
  line-height: 25px;
}
.current-day-and-time {
  line-height: 25px;
  padding: 15px;
}

p {
  line-height: 20px;
  padding-top: 15px;
}

.icon-and-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
}

.weather-app-data {
  padding-top: 0;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.weather-app-data strong {
  color: rgb(201, 37, 37);
}

/*Placeholder for extended forecast */
.extended-forecast {
  display: none;
  width: 85%;
  margin: auto;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
/*End of extended forecast */

.temp {
  font-size: 72px;
  font-weight: 300;
  position: relative;
  top: 15px;
}

.temp-unit {
  font-size: 30px;
  position: relative;
  top: 22px;
  left: -35px;
}

.theme-button {
  display: block;
  margin: 0 auto;
  border: 1px solid rgb(63, 76, 119);
  border-radius: 10px;
  font-size: 18px;
  padding: 4px;
  color: rgb(63, 76, 119);
  box-shadow: 2px 2px 10px;
  background: rgba(0, 0, 0, 0.93);
  color: lightgray;
}

.theme-button:hover {
  transform: scale(1.3);
}

footer {
  border-top: 1px solid rgb(194, 192, 192);
  padding: 15px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgb(123, 118, 118);
}

/* Set up a Dark Theme */
.dark {
  background: linear-gradient(135deg, #1b1b1c 0%, #8dc4d8 100%) bottom center
    no-repeat;
  color: #f5f7fa;
}

.dark .theme-button {
  color: rgb(63, 76, 119);
  background: #f5f7fa;
}

.dark .weather-app {
  background: linear-gradient(135deg, #6e99a9 0%, #1b1b1c 100%) bottom center
    no-repeat;
}

.dark footer {
  border-top: 1px solid rgb(194, 192, 192);
  color: #f5f7fa;
}

.dark .theme-button {
  background: darkgray;
  color: black;
}

.dark .title-button {
  border: #1b1b1c;
  box-shadow: 1px 1px 15px #1b1b1c;
  color: #f5f7fa;
  background: #1b1b1c;
}

.dark .search-form.input {
  background-color: #6b6b6e;
  color: #f5f7fa;
}

.dark .search-form.button {
  background-color: #0c6281;
  width: 20%;
  color: #f5f7fa;
}

.dark input::placeholder {
  color: #f5f7fa;
}
